.photoPost{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.file {
  margin-bottom: 1.4rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

.preview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}

@media(max-width: 40rem){
  .photoPost{{
    grid-template-columns: 1fr;
  }}
}